.AppLayout-main {
	margin: 100px auto 0 auto;
	max-width: 960px;
	min-height: 85vh;
	padding: 8px;
}

@media only screen and (max-width: 1400px) {
	.AppLayout-main {
		margin: 120px auto 0 220px;
	}
}

@media only screen and (max-width: 600px) {
	.AppLayout-main {
		margin: 140px auto 0 auto;
	}
}
